{% extends "base.html" %}

{% block content %}
    <style>
        a.product_count {
            background-color: transparent!important;
            cursor:pointer;
        }
        a.product_count:hover {
            cursor:pointer;
        }
    </style>
    <div class="col-12">
        <h3>Корзина товаров</h3>
    </div>
    <div id="cartDiv" class="col-12 col-lg-9 row">
        
    </div>
    <div class="modal fade" id="addedToCartModal" tabindex="-1" role="dialog" aria-labelledby="addedToCartModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title text-dark" id="addedToCartModalLabel">Заказ успешно оформлен!</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <a href="/purchase/add" type="button" class="btn btn-block p-2 br-10 text-forest-green text-dark">Перейти к оплате</a>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
            </div>
          </div>
        </div>
    </div>
    <div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="errorModalLabel">Произошла ошибка! Повторите еще раз</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
            </div>
          </div>
        </div>
    </div>
    <div class="modal fade" id="unauthorizedModal" tabindex="-1" role="dialog" aria-labelledby="unauthorizedModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="unauthorizedModalLabel">Для оформления заказа <a href="/login" class="text-primary" style="text-decoration:none;">войдите</a> или <a href="/registration" class="text-success" style="text-decoration:none;">зарегистрируйтесь</a></h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
            </div>
          </div>
        </div>
    </div>
    <script src="/static/js/cartIndex.js"></script>
{% endblock %}
