{% extends "base.html" %}

{% block content %}
    <div class="col-12 col-md-2">
        <img class="" src="/static/images/banner.jpg" width="80" height="80" alt="Card image cap">
    </div>
    <div class="col-12 col-md-6 text-left">
        Печать Нострадамуса. Тайна последнего предсказания
        Оксана Пелевина
    </div>
    <style>
        a.product_count {
            background-color: transparent!important;
            cursor:pointer;
        }
        a.product_count:hover {
            cursor:pointer;
        }
    </style>
    <div class="col-12 col-md-2 p-2 d-flex">
        <button class="btn" style="background-color: transparent!important"><i class="fa fa-minus"></i></button>
        <a class="btn product_count font-weight-bold" style="">3</a>
        <button class="btn" style="background-color: transparent!important"><i class="fa fa-plus"></i></button>
    </div>
    <div class="col-12 col-md-2 p-2 d-flex">
        <a class="btn product_count font-weight-bold" style="">615 ₽</a>
        <button class="btn" style="background-color: transparent!important"><i class="fa fa-trash text-danger"></i></button>
    </div>
{% endblock %}
