{% extends "base.html" %}

{% block content %}
    {% for book in object_list %}
        <div class="col-12 col-md-4 p-2">
            <div class="card card-block" style="width: 18rem;">
                <img class="card-img-top" src="{{ book.image.url }}" alt="Card image cap">
                <div class="card-body text-left">
                    <h5 class="card-title">{{ book.name }}</h5>
                    <p class="card-text">{{ book.description|truncatechars:80 }}</p>
                    <div class="d-flex flex-row justify-content-between align-items-center">
                        <a href="/books/{{ book.id }}" class="btn btn-primary">Подробнее</a>
                        <p class="card-text text-info">{{ book.price }} ₽</p>
                    </div>
                </div>
            </div>
        </div>
    {% empty %}
        <h4>Список товаров пока пуст</h4>
    {% endfor %}
{% endblock %}
